<nav data-ui="dashboard">
  <h3>Dashboard</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita rerum debitis atque! Iure tempora nesciunt qui magni numquam. Ullam eius voluptatem dolorem modi, blanditiis non. Quas illum necessitatibus alias velit.</p>
</nav>