<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Webpack test</title>

  <style>
    body {
      min-height: 80vh;
      font-family: sans-serif;
      padding: 2rem;
      margin: 0;
    }
    nav {
      margin-bottom: 3rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid burlywood;
    }
    nav a {
      margin-right: 2rem;
      color: burlywood;
      text-decoration: none;
      font-weight: 700;
    }
    h1 {
      font-size: 4rem;
    }
    h2 {
      font-size: 3rem;
    }
    h3 {
      font-size: 2.5rem;
    }
    h1, h2, h3, p {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    img {
      width: 100%;
    }
  </style>

  <script async src="/index.bundle.js"></script>

</head>