<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Webpack test</title>

  <script async src="/index.bundle.js"></script>

  <link rel="stylesheet" type="text/css" href="style.css">

</head>