<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Webpack test</title>

  <style>
    body {
      min-height: 80vh;
      font-family: sans-serif;
      padding: 2rem;
      margin: 0;
    }
    nav a {
      margin-right: 2rem;
    }
  </style>

  <script async src="/app.bundle.js"></script>

</head>