<%- include('head'); -%>

<body data-barba="wrapper">

  <main data-barba="container" data-barba-namespace="home">

    <%- include('nav'); -%>

    <h1><%= title %></h1>

    <section data-module="module-a">this is the homepage</section>

  </main>

</body>

</html>