<%- include('head'); -%>

<main data-barba="container" data-barba-namespace="home">

  <h1><%= title %></h1>

  <h4 data-module="foo">Should init FooBar module</h4>

  <section data-module="sliders">
    <img src="https://images.unsplash.com/photo-1593145134471-e91fe115022e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80" alt="image 1">
    <img src="https://images.unsplash.com/photo-1593154586930-136210f7b84f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80" alt="image 2">
  </section>

  <h3 data-module="quotes">quote module here</h3>

  <section data-module="sliders">
    <img src="https://images.unsplash.com/photo-1593145134471-e91fe115022e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80" alt="image 1">
    <img src="https://images.unsplash.com/photo-1593154586930-136210f7b84f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80" alt="image 2">
  </section>

</main>

<%- include('footer'); -%>