<%- include('head'); -%>

<main data-barba="container" data-barba-namespace="home">

  <h1><%= title %></h1>

  <p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Q2aaCDNjWEg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </p>

  <section data-module="quotes"></section>

</main>

<%- include('footer'); -%>