<%- include('head'); -%>

<body data-barba="wrapper">

  <main data-barba="container" data-barba-namespace="home">

    <%- include('nav'); -%>

    <h1><%= title %></h1>

    <section data-module="quotes">should load quotes modules</section>

    <p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/Q2aaCDNjWEg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </p>

  </main>

</body>

</html>